<div class="mt-2">
    <div class="card mb-2" *ngFor="let todo of todos">
        <div class="card-body col-12">
            <div class="row">
                <div class="col-10">
                    <h5 [ngClass]="{'card-title': true, 'todoDone': todo.done}">{{todo.text}}</h5>
                </div>
                <div class="col-2">
                    <div class="row justify-content-center">
                        <h6 class="card-subtitle mb-2 text-muted">{{todo.id}}</h6>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-2">
                    <div class="row justify-content-center">
                        <span (click)="toggleDone(todo)" [ngClass]="{'mdi': true, 'mdi-check-circle-outline': true, 'greenCheck':todo.done}"  style="font-size: 48px;"></span>
                        <!-- <p class="card-text">{{todo.done}}</p> -->
                    </div>
                </div>
            </div>
            <div class="row justify-content-end mt-4">
                <div class="col-2">
                    <button class="btn btn-outline-primary btn-block" (click)="edit(todo)">Edit</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-danger btn-block" (click)="delete(todo)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>


