/* You can add global styles to this file, and also import other style files */
@import url('https://cdn.materialdesignicons.com/4.7.95/css/materialdesignicons.min.css');
html, body{
    height: 100%;
    padding: 0;
    margin: 0;
   }